.navbar {
    height: 10vh;
    width:65%;
    border-radius: 10px;
    justify-content: space-between;
}

.container{
    height: 90vh;
    width: 100%;
    background-color: rgba(173, 216, 230, 0.3);
    display: flex;    
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.container .container2 {
    width: 75%;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}



.nav-link{
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-right: 20px;
}
.navbar-brand-profile{
    margin-right: 20px;
}

.pushups{
    width: 75%;
    justify-content: center;
}

#my-form{
    width: 80%;
    opacity: 1;
}




@media (max-width: 575.98px) {
    .navbar {
      justify-content: center;
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    .navbar-brand {
        display: none;
    }
    .navbar-nav{
        flex-direction: row;        
        
        width: 80%;
    }
    .nav-link{
        font-size: 7px;
        margin-right: 10px;
    }
    .nav-item{                
        margin-right: 6px;
    }
    .container{
        width: 100%; 
    }
    .navbar-brand-profile{
        margin-right: 0;
    }

}

